<li id="post-<%=post._id%>">
    <!-- giving an id because we will need it for every post for tasks like deleting a particular post-->
    <p>
        <% if(locals.user && locals.user.id == post.user.id) { %>
        <small>
            <a class='delete-post-button' href="/posts/destroy/<%=post._id%>">x</a>
        </small>
        <% } %>
        <%= post.content %>
        <br>
        <small>
            <%= post.user.name %> &nbsp;
        </small>
    <!-- <form action="/likes/toggle/?type=Post&id=<%=post._id%>" method="POST" class="likes-form">
        <span id="post-<%=post._id%>-likes-count">0</span> <button type="submit"><i
                class="far fa-thumbs-up"></i></button>
    </form> -->

        <small>
            <% if(locals.user) { %>
                <a href="/likes/toggle/?id=<%=post._id%>&type=Post" class="likes-toggler-button" id="<%= post.likes.length %>">
                    <%= post.likes.length %> <i class="far fa-thumbs-up"></i>
                </a>
            <% } else { %>
                <%= post.likes.length %> <i class="far fa-thumbs-up"></i>
            <% } %> 
        </small>
    </p>
    <div class="post-comments">
        <% if (locals.user) { %>
        <form action="/comments/create" id="comment-<%=post._id%>-form" method="POST">
            <input type="text" name="content" placeholder="Comment goes here..." required>
            <input type="hidden" name="post_id" value="<%= post._id %>">
            <!--Hidden-->
            <input type="submit" value="Add Comment">
        </form>
        <% } %>
        <div class="post-comments-list">
            <ul id="comments-post-<%= post._id %>">
                <% for (comment of post.comments) { %>
                <%- include('_comment') -%>
                <% } %>
            </ul>
        </div>
    </div>
</li>